/* Skeleton */
body {
	background-color: #f5f1da;
	font-family: arial;
}

#measures {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#crements {
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

#extras {
	margin-bottom: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


button {
  	color: white;
  	padding: 16px;
  	font-size: 16px;
  	min-width: 25vw;
  	border: solid;
  	border-top: 2px;
  	border-color: #f5f1da;
}

.sound-box {
	background-color: #96bb7c;
}

.top {
	background-color: #eebb4d;
}

.sound-dropdown-box button:hover {
	background-color: #7a9964;
}

.start-button:hover {
	background-color: #7a9964;
}

.top:hover {
	background-color: #ba9036;
}

.sound-dropdown-box {
	visibility: hidden;
	opacity: 0;
	position: relative;
}

.note-box:hover .sound-dropdown-box {
	visibility: visible;
	opacity: 1;
	transition: visibility 500ms, opacity 500ms;
}

.extra {
	min-height: 20vh;
}

#title {
	text-align: center;
	font-size: 48px;
	background-color: #96bb7c;
	color: white;
}

.stop-button {
	background-color: red;
}

.stop-button:hover {
	background-color: darkred;
}

.start-button {
	background-color: #96bb7c;
}

input {
	border-style: none;
	text-align: center;
	min-height: 8vh;
	min-width: 20vw;
	font-size: 16px;
}