/* Skeleton */
body {
	background-color: white;
}

#measures {
	min-height: 50vh;
	margin-bottom: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#extras {
	min-height: 20vh;
	margin-bottom: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


button {
	background-color: #96bb7c;
  	color: white;
  	padding: 16px;
  	font-size: 16px;
  	min-width: 25vw;
  	border: solid;
  	border-top: 2px;
  	border-color: white;
}

.top {
	background-color: #eebb4d;
}

.sound-dropdown-box button:hover {
	background-color: #7a9964;
}

.sound-dropdown-box {
	display: none;
	position: relative;
}

.note-box:hover .sound-dropdown-box {
	display: block;
}

.extra {
	min-height: 20vh;
}